extends layout

block content
  // container Div
  .container.font-weight-bold.lead
    if applied
      .alert.alert-warning(role='alert')
        | Changes applied to account.
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    .d-flex.justify-content-between.flex-wrap.mt-5
      .bookDetails.d-flex.flex-no-wrap
        // book Div
        .bookDiv
          .card
            .card-header
              | Username
            ul.list-group.list-group-flush
              li.list-group-item
                a(href='/profile') Complete Library
              li.list-group-item
                a(href='/profile/bookshelf') Bookshelf
              li.list-group-item
                a(href='/profile/collection') Movie Collection
              li.list-group-item
                a(href='/profile/account') Account Settings
      form(method='post', action='/profile/account')
        p.lead Sign Up
        .form-row
          .form-group.col-md-6
            label(for='firstName') First Name
            input#firstName.form-control(type='text' name='fName' value=`${firstName}`)
          .form-group.col-md-6
            label(for='lastName') Last Name
            input#lastName.form-control(type='text' name='lName' value=`${lastName}`)
        .form-group
          label(for='newEmail') Email
          input#newEmail.form-control(type='email' name='email' value=`${email}`)
        .form-group
          label(for='newPassword') Password
          input#newPassword.form-control(type='password' name='password')
          small Password must be 8 characters long
        .form-group
          label(for='confirmPassword') Confirm Password
          input#confirmPassword.form-control(type='password' name='confirmPassword')
        button.btn.btn-primary(type='submit') Apply
