extends layout

block content
  #coverImgError.backgoundCoverImgs
  .container.font-weight-bold.col-8
    #errorPage
      p.mb-2 Error Status: #{error.status}
      h2= message
      // pre #{error.stack}
